In [11]:
import numpy as np
import pandas as pd

import math
import statistics
from scipy import stats

In [12]:
belize_listings = "belize_airbnb_listings copy.csv"
belize = pd.read_csv(belize_listings)
belize.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

c. Write a code example for arithmetic mean, geometric mean, and harmonic mean using the Belize Airbnb data in a cell under the each respective summary in markdown

# Arithmetic Mean

Arithmetic mean is the sum of all the values in a dataset divided by the total number of those values.
Arithmetic Mean can be a measure of central tendency.

In [13]:
#Code
belize[["minimum_nights", "price", "availability_365"]].mean()

minimum_nights        2.263948
price               357.102289
availability_365    280.315451
dtype: float64

# Geometric Mean

Geometric mean is a different kind of mean where you multiply a set of values and then take the root of those values which is dependant on how many values there are. (EX: If you have 3 values, you will take the product of the values and then the cube root of it.) Geometric mean can be taken if you have a geometric sequence of data since that data has a common ratio.

In [16]:
#gmean() is the geometric mean function that is accessed through the module scipy. The dataframe name is 
#passed and the column plus parameters are put into the loc[]. 

from scipy.stats.mstats import gmean
belize_gm = gmean(belize.loc[:,'price'])
print(belize_gm)

234.7347175108817

# Harmonic Mean

To get the haromonic mean, take the sum of the reciprocal of the values, then divide the sum by how many values you have and take the reciprocal again to get your mean. Harmonic means are useful when you have datasets with large outliers(numbers that skew the data).

In [22]:
#Code
from scipy.stats.mstats import hmean
belize_hm = hmean(belize.loc[:,"price"])
belize_hm

170.99338501026463

Write a function to sort several subsequent inputs alphabetically. For example, if you first input ‘banana’ and next input ‘apple’, the first time [‘banana’] will be the output but the second time [‘apple’,’banana’] will be the output. The results should be stored until you restart your kernel. There are several approaches that will work, but using a global variable is likely the easiest

In [53]:
global_variable = []
def alphabetical_order ():
    count = 0
    while count <= 5:
        b = input("Enter a Name: ")
        global_variable.append(b)
        x = sorted(global_variable)
        print(x)
        count +=1

In [54]:
alphabetical_order()

Enter a Name: banana
['banana']
Enter a Name: apple
['apple', 'banana']
Enter a Name: dog
['apple', 'banana', 'dog']
Enter a Name: cat
['apple', 'banana', 'cat', 'dog']
Enter a Name: fairy
['apple', 'banana', 'cat', 'dog', 'fairy']
Enter a Name: egg
['apple', 'banana', 'cat', 'dog', 'egg', 'fairy']